<div class="flex w-full u-border-b mb-4">
  <button
    class="px-16 py-2 rounded-tl-md rounded-tr-md cursor-pointer bg-gray-700 t-heading-sm"
    [ngClass]="{'bg-gray-700': showMovies}"
    (click)="$event.preventDefault(); switchCards('movies')"
  >Movies ({{ movieCount }})</button>

  <button
    class="relative px-16 py-2 rounded-tl-md rounded-tr-md cursor-pointer bg-gray-700 t-heading-sm"
    [ngClass]="{'bg-gray-700': !showMovies}"
    (click)="$event.preventDefault(); switchCards('recommended')"
  >Recommended ({{ recommendedCount }})</button>
</div>

<movie-list *ngIf="showMovies; else recommended"></movie-list>

<ng-template #recommended>
  <recommended-list></recommended-list>
</ng-template>
