@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */

button:focus,
input:focus {
	outline: none;
}

*::selection {
	@apply bg-slate-500 text-slate-200;
}

body {
	@apply bg-gray-950 text-slate-300 font-light text-lg px-8 py-16 tracking-wide;
}

.h1,
h1 {
	@apply text-7xl tracking-wider font-thin;
}

.h2,
h2 {
	@apply text-5xl tracking-wider font-thin;
}

.h3,
h3 {
	@apply text-4xl tracking-wider font-thin;
}

.h4,
h4 {
	@apply text-3xl tracking-wider font-thin;
}

/* Layout */

.l-width {
	max-width: 1600px;
	margin: 0 auto;
}

.l-grid {
	display: grid;
	gap: 2rem;
	grid-template-columns: 16rem 1fr 18rem;
}

/* Typography */

.t-heading-sm {
	@apply text-lg font-normal tracking-wider;
}

/* Utilities */

.u-border {
	@apply border border-gray-800;
}

.u-border-b {
	@apply border-b border-gray-800;
}

.u-border-t {
	@apply border-t border-gray-800;
}

.u-border-l {
	@apply border-l border-gray-800;
}

.u-border-r {
	@apply border-r border-gray-800;
}