<form class="flex w-full">
  <label for="search" class="sr-only">Search</label>
  <div class="flex w-full bg-slate-800 hover:bg-slate-700 focus-within:bg-slate-700 rounded-xl overflow-hidden cursor-pointer">
    <input
      type="text"
      name="search"
      class="flex-grow px-6 py-3 text-4xl font-thin bg-transparent cursor-pointer"
      placeholder="Search"
      [(ngModel)]="titleInput"
      (ngModelChange)="setTitle()"
    >

    <div class="flex justify-center items-center w-16 pr-2 h-full">
      <button
        #searchButton
        class="flex justify-center items-center text-slate-400 hover:text-slate-300"
        (click)="$event.preventDefault(); searchButton.blur(); handleSubmit()"
      >
        <div class="w-8 h-8">
          <icon-search></icon-search>
        </div>
      </button>
    </div>
  </div>
</form>