<form class="flex w-full">
  <label for="search" class="sr-only">Search</label>
  <div class="flex w-full bg-slate-800 hover:bg-slate-700 focus-within:bg-slate-700 rounded-full overflow-hidden cursor-pointer">
    <input
      type="text"
      name="search"
      class="flex-grow px-10 py-3 text-4xl font-thin bg-transparent cursor-pointer"
      placeholder="Search"
      [(ngModel)]="titleInput"
      (ngModelChange)="setTitle()"
    >

    <div class="flex justify-center items-center w-16 pr-2 h-full">
      <button class="flex justify-center items-center" (click)="$event.preventDefault(); handleSubmit()">
        <div class="text-slate-400 hover:text-slate-300 w-8 h-8">
          <icon-search></icon-search>
        </div>
      </button>
    </div>
  </div>
</form>